/* Base */
@import url('base/_normalize.css');
@import url('base/_base.css');

/* FONTS */
@font-face {
    font-family: RobotoBold;
    src: url('../vendor/fonts/roboto/Roboto-Bold.woff2');
}

@font-face {
    font-family: RobotoRegular;
    src: url('../vendor/fonts/roboto/Roboto-Regular.woff2');
}
